.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* styles.css */

.top-navbar {
  display: flex;
  justify-content:space-around;
  align-items: center;
  /* padding: px;  */
  background-color: #ffffff;
  color: #000000;  
  margin-left: 225px;
  
  margin-right: 0px;
  border-bottom: #e5dcdc solid 1px;
}


.logo{ 
 margin-left: -2%;  
 margin-right: -2%; 
 /* margin-bottom: 3px; */
 margin-top: 10px;
 /* display: flex; */
 /* justify-content: space-between; */
 border-bottom: 1px solid rgb(255, 255, 255);
 /* margin-bottom: 25px; */
 /* justify-content: center; */
 /* background-color: #17a2b8; */
 
}

.systemname{
 font-size: 24px;
 padding: 10px;
 
};
.dataicon{
  /* margin-bottom: 2px; */
  height: px;
  width: auto;
}

.notification {
  /* background-color: #555; */
  /* color: white; */
  text-decoration: none;
  padding: 2px 5px;
  position:relative;
  display: inline-block;
  border-radius: 15px;
}



.notification .badge {
  position: absolute;
  top: -1px;
  right: 20px;
  padding:4px ;
  border-radius: 100%;
  background: #ff1e00;
  color: white;
  font-size: 8px;
  text-align: center;
  width:15px
 
}

.batchsummary{
  border-radius: 15px;
  
}
.loading{
  text-align:end;
 font-weight:bolder ;


}
.filterborder{
  border:solid white;
  border-radius:6px ;  
  color: #86888b;
  background: #FFFFFF;
box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
font-size: 12px;
}
.filtelable{
  color: #5e5c5c;
  font-size: 12px;
}

.filterspadding{
    padding-left: 610px; 
    margin-top: 12px;
}
.filter{
  padding-left: 10px;
}

thead th {
  background-color: #f2f2f2;
  position: sticky;  
}

table {  
  width: 100%;
  /* position: static; */
  margin-top: 15px;
  
}


.link{
  text-decoration: none;  
  color:hsl(0, 0%, 100%) ;  
  /* padding-right: 100px; */
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: 10px;
}

.link:hover{
  color: #d2d2d2;
}


.margin{
  margin-left: 300px;
  /* text-align: center; */
  margin-top: 100px;
  position:absolute;
}
.buttonmargin{
 margin-left: px;
}

.topnav-padding{
  padding-inline: 10px;
}
.iconfont{
  height:20px;
  width:auto;
  padding: 2px;
}
.deleteicon{
  height:14px;
  width:auto;

}

.heading{
  color: #24425c;;
  /* text-align: center; */
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 1px;
  
 
}
.dmcolor{
  color: #0177BF;
 
}
.iconhight{

 height: fit-content;
}

.formtext{
  font-family: 'Verdana';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 35px;
  /* padding: 25px; */
  padding-left: 35px;
  padding-right: 35px;
 padding-top: 10px;

}


form input{
  height: 28px;
  width: auto;
  color: #DCDCDC;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25) inset;
  /* box-shadow: #000000;   */
}

.badge{
  font-size: 5;
}
.addbutton{
  justify-content:space-between;
  
}

.buttonradious{  
  border-radius: 8px;
  /* border-color:#24425c; */
  color: aliceblue;
  background: #24425c;
}
.xradious{
  color: #000000;
  border: none;
  margin-left: 445px;
  border-radius: 15px;
  height:25px
  
}
.extractionbutton{
  margin-left: 840px;
}
.validationbutton{
  margin-left: 840px;
}
.transformationbutton{
  margin-left: 800px;
}
.variablebutton{
  margin-left: 890px;
}
.normbutton{
  margin-left: 730px;
}



.tableheadcolor{  
  color: #000000;
  font-family:'Verdana';
  font-size: 12px; 

}

.inputcolor{
  font-size: 8px;
}
.plusbutton{
  padding-right:3px;
  height:10px;
  width: auto;
  margin-bottom: 5px;
}

.form-control::placeholder{
  font-size: 12px;
  
  
}


.formwidth{
  margin-top:-15px;
 
}
.cursor{
  cursor: pointer;
}

.check{
  width: 20px;
  height: 20px;
  /* margin-top: 20px; */
  /* padding: 5px; */
  /* padding-top: 10px; */
}

.text{
  text-decoration: none;
  text-align: start;
  font-family:"Verdana";
}

.font{
  font-family: 'Verdana';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #000000;
  
}

.dashboard-icons  {
  display: flex;
  justify-content:space-evenly 
}

.searchbarwidth{
  width: 450px;
  border-color: #d2d2d2; 
  
  height: 32px;
}

.fixed-header{
  z-index: 50 ;
}
.dashboard{
  padding: 2px;
  padding-right: 2px;
  /* justify-content: space-between; */
}

.search-bar input {
  /* padding: 3px; */
  margin-right: 10px;
  border-radius: 0px;
  
 
}
.addbuttontext{
  font-size: 14px;  
}
.serachinput{
  border-color: #d2d2d2;
}

.search-bar button {
  /* padding: 5px 10px 5px ; */
  background-color: hsl(0, 0%, 100%);
  border: none;
  cursor: pointer;
  /* border-radius: 100px; */
  margin-inline: 5px;
  /* margin-right: 50px; */
}



.search-icon input{
border-radius: 15px; 
border:1px solid rgb(163, 142, 142)


}

.search-icon button{
  /* border:2px solid black;  */
  margin-left:-35px;
  border: none;   
  background-color:none;
  border-radius: 15px;
  /* width: 25px; */
  height: px;

  }

  
.side-navbar {
  width: 270px;
  height: 100vh;
  /* color: #ffffff; */
  background-color: #24425c;
 
  /* margin-top: 45px; */
  position: relative;
}
.sidenavpadding{
  margin-top: 25px;
  margin-left: 15px;

}
.sidenavicons{
padding-right:15px ;
height:15px;
width: auto;
/* font-size: 18px; */

}
.filtericon{  
  height:25px;
  width: auto;
  background-color: #ffffff;
}
.sidenavtextcolor{
  color: #ffffff;
}
.textcolor{
  color: #ddd;
  /* background-color: #61dafb; */
}


.dropdown.custom-dropdown > .dropdown-toggle {
  color: rgb(255, 255, 255) !important;
  /* other styles if needed */
}

.sidenavmargin{
  margin-top: 20px;
}

.redTitle {
  color: rgb(255, 255, 255);
  /* other styles if needed */
}

.side-navbar ul {
  list-style-type: none;
  padding: 0;
}

.side-navbar li {
  padding: 10px;
  cursor: pointer;
}

.side-navbar li:hover {
  background-color: #f9f7f7;
}

.content-wrapper {
  display: flex;
}


 



.hidefilter{
  color: #24425c;
  margin-top: 5px;
  /* background: none; */
  /* background-color:#24425c; */
  /* border:none; */
  /* border-radius: 8px ;   */
  margin-left: 890px;
  /* font-size: 16px; */
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: center; */
  /* align-items: center; */
  /* padding: 6px 8px; */
  height:10px; 
  width: auto;
 
}




 
.table-container {
  max-width: 100%;
  overflow-x: auto;
  margin-left: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  
}

.single-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

